#signUp {
    background-color: #ff4d4d;
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 54px;
}

#signIn {
    background-color: #32ff7e;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#signOut {
    background-color: #fffa65;
    color: black;
    border: none;
    padding: 10px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 12px;
    margin-left: 112px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}